@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .navbar___link {
      @apply text-gray-700 hover:text-pink-600 relative;
      transition: all 0.4s;
    }
  
    .navbar___link::after {
      content: "";
      position: absolute;
      background-color: #f08390;
      height: 3px;
      width: 100%;
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s;
    }
  
    .navbar___link:hover::after {
      transform: scaleX(1);
    }
    .header_top__icon_wrapper {
        @apply bg-gray-200 rounded-md p-[4px] text-[12px] cursor-pointer hover:bg-accent hover:text-white;
       } 
       
      
  }
  